:root{
    font-family: Merriweather, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#title{
    text-align: center;
    padding-top: 5rem;
    font-weight: bolder;
    z-index: 0;
}
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color: black;
    background-color: white;
    font-size: medium;
    z-index:0;
    position: relative;
    width:100%;
    height: 100vh;
    background: linear-gradient(cyan, pink);
    animation: anime 12s linear infinite;
    z-index: 1;

}


body::after {
    position: absolute;
    content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( orange, lime);

}

@keyframes anime {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

.container{
    display: flex;
    text-align: center;
    flex-direction: column;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   justify-content: center;
   position: absolute;
   background-color: white;
   color: teal;
   margin: 5px;
   border-radius: 1.5rem;
   padding: 2rem 2rem 0rem 2rem;
   z-index: 1;
   background-color: #E8E8E8;

}

.gradient-bg{
  height: 100vh;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;

}

.links{
    display: flex;
    justify-content: space-between;
    padding:30px;
    justify-content:center;
    z-index: 1;
}
button{
    background-color:black;
   color:white;
   height:2.53rem;
   width: 8rem;
   border-radius: 1.5rem;
   cursor: pointer;
   outline: 0;
   border:0;
   font-weight: 700;
   align-items: center;
   z-index: 1;
}

