:root{
    font-family: Merriweather, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#title{
    text-align: center;
    padding-top: 5rem;
    font-weight: bolder;
}
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;   
    color: black;
    background-color: white; 
    font-size: medium;
}
.container{
    display: flex;
    text-align: center;
    flex-direction: column;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   justify-content: center;
   position: absolute;
   background-color: white;
   color: teal;
   margin: 5px;
   border-radius: 1.5rem;
   padding: 2rem 2rem 0rem 2rem;
}
.links{
    display: flex;
    justify-content: space-between;
    padding:30px;
    justify-content:center;
}
button{
    background-color:black;
   color:white;
   height:2.53rem;
   width: 8rem;
   border-radius: 1.5rem;
   cursor: pointer;
   outline: 0;
   border:0;
   font-weight: 700;
   align-items: center;
}
button:hover{
    background-color:hsl(180, 100%, 15%);
}
